@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">IT499 Capstone Test Environment</h1>
    <p>
        Available Test IDs:<br />
        doug@test.net<br />
        bob@test.net<br />
        megan@test.net
    </p>
</div>
